.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.header-title-link {
  display: block;
  color: #000000;
  margin-top: 64px;
  margin-bottom: 64px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
}
.header-title-span {
  color: #4ACAFF;
}

.header-menu {
  display: flex;
  background-color: #35444F;
  justify-content: center;
  margin-bottom: 48px;
}

.header-menu-item {
  outline: 1px solid #ffffff;
  padding: 26px 38px 19px;
}

.header-menu-item-link {
  color: #ffffff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  transition: 600ms;
}

.main-box {
  display: flex;
}

.aside-menu-main {
  border: 1px solid #000000;
}

.aside-menu-item {
  display: block;
  padding-top: 26px;
  padding-bottom: 25px;
  padding-left: 42px;
  padding-right: 102px;
  transition: 600ms;
}

.aside-menu-item-link {
  color: #495863;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  white-space: nowrap;
}

.main-article {
  margin-left: 26px;
}

.image-section {
  display: flex;
  border: 1px solid #000000;
  justify-content: center;
  padding-top: 75px;
  padding-bottom: 75px;
}

.section-picture {
  transition: 600ms;
}

.article-text {
color: #2C2C2C;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
padding-top: 34px;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  border: 1px solid none;
  background: rgba(99, 105, 110, 0.48);
  margin-top: 51px;
  margin-bottom: 30px;
}

.footer-menu {
  display: flex;
  vertical-align: baseline;
  padding-left: 30px;
  padding-bottom: 8px;
}

.footer-menu-item {
display: block;
padding-left: 10px;
padding-right: 10px;
padding-top: 21px;
padding-bottom: 13px;
}

.footer-menu-item-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: #0C1927;
}

.footer-infotext {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #010101;
  padding-right: 40px;
  padding-top: 21px;
  padding-bottom: 13px;
}

.header-menu-item:hover {
  background: #222F3A;
  transition: 600ms;
}

.aside-menu-item:hover {
  background-color: #DBDBDB;
  padding-left: 62px;
  padding-right: 82px;
  transition: 600ms;
}

.section-picture:hover {
  transform: scale(1.1);
  transition: 600ms;
}

.footer-menu-item-link:hover {
  color: #3181A6;
  border-bottom: 2px solid #3181A6;
  box-sizing: border-box;
}